<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sun.xiaotian.diskmonitor.mapper.FileSizeMapper">

  <resultMap id="BaseResultMap" type="com.sun.xiaotian.diskmonitor.model.FileSize">
    <id column="file_size_id" jdbcType="BIGINT" property="fileSizeId" />
    <result column="file_base_info_id" jdbcType="BIGINT" property="fileBaseInfoId" />
    <result column="file_size" jdbcType="INTEGER" property="fileSize" />
    <result column="record_date" jdbcType="TIMESTAMP" property="recordDate" />
  </resultMap>

  <sql id="Base_Column_List">
    file_size_id, file_base_info_id, file_size, record_date
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dm_file_size
    where file_size_id = #{fileSizeId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dm_file_size
    where file_size_id = #{fileSizeId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.sun.xiaotian.diskmonitor.model.FileSize">
    insert into dm_file_size (file_size_id, file_base_info_id, file_size, record_date)
    values (#{fileSizeId,jdbcType=BIGINT}, #{fileBaseInfoId,jdbcType=BIGINT}, #{fileSize,jdbcType=INTEGER}, #{recordDate,jdbcType=TIMESTAMP})
  </insert>


  <insert id="batchInsert" parameterType="com.sun.xiaotian.diskmonitor.model.FileSize" useGeneratedKeys="true" keyProperty="fileSizeId">
    insert into dm_file_size (file_base_info_id, file_size, record_date)
    values
    <foreach collection="list" item="fileSize" index="index" separator=",">
      (#{fileSize.fileBaseInfoId,jdbcType=BIGINT}, #{fileSize.fileSize,jdbcType=INTEGER}, #{fileSize.recordDate,jdbcType=TIMESTAMP})
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="com.sun.xiaotian.diskmonitor.model.FileSize">
    insert into dm_file_size
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileSizeId != null">
        file_size_id,
      </if>
      <if test="fileBaseInfoId != null">
        file_base_info_id,
      </if>
      <if test="fileSize != null">
        file_size,
      </if>
      <if test="recordDate != null">
        record_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileSizeId != null">
        #{fileSizeId,jdbcType=BIGINT},
      </if>
      <if test="fileBaseInfoId != null">
        #{fileBaseInfoId,jdbcType=BIGINT},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=INTEGER},
      </if>
      <if test="recordDate != null">
        #{recordDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.sun.xiaotian.diskmonitor.model.FileSize">
    update dm_file_size
    <set>
      <if test="fileBaseInfoId != null">
        file_base_info_id = #{fileBaseInfoId,jdbcType=BIGINT},
      </if>
      <if test="fileSize != null">
        file_size = #{fileSize,jdbcType=INTEGER},
      </if>
      <if test="recordDate != null">
        record_date = #{recordDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where file_size_id = #{fileSizeId,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.sun.xiaotian.diskmonitor.model.FileSize">
    update
      dm_file_size
    set
      file_base_info_id = #{fileBaseInfoId,jdbcType=BIGINT},
      file_size = #{fileSize,jdbcType=INTEGER},
      record_date = #{recordDate,jdbcType=TIMESTAMP}
    where
      file_size_id = #{fileSizeId,jdbcType=BIGINT}
  </update>
</mapper>