<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun.xiaotian.diskmonitor.mapper.FileBaseInfoMapper">
  <resultMap id="BaseResultMap" type="com.sun.xiaotian.diskmonitor.model.FileBaseInfo">
    <id column="file_base_info_id" jdbcType="BIGINT" property="fileBaseInfoId" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="is_directory" jdbcType="TINYINT" property="isDirectory" />
    <result column="record_date" jdbcType="TIMESTAMP" property="recordDate" />
    <result column="file_absolute_path" jdbcType="VARCHAR" property="fileAbsolutePath" />
  </resultMap>

  <sql id="Base_Column_List">
    file_base_info_id, file_path, file_name, file_type, is_directory, record_date, file_absolute_path
  </sql>

  <select id="selectByFileAbsolutePath" parameterType="java.lang.String" resultType="java.lang.String">
    select
      file_absolute_path
    from dm_file_base_info
    where file_absolute_path in
    <foreach collection="absolutePaths" index="index" item="absolutePath" open="(" separator="," close=")">
      #{absolutePath, jdbcType=VARCHAR}
    </foreach>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dm_file_base_info
    where file_base_info_id = #{fileBaseInfoId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dm_file_base_info
    where file_base_info_id = #{fileBaseInfoId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.sun.xiaotian.diskmonitor.model.FileBaseInfo">
    insert into dm_file_base_info (file_base_info_id, file_path, file_name, file_type, is_directory, record_date, file_absolute_path)
    values
    (
      #{fileBaseInfoId,jdbcType=BIGINT}, #{filePath,jdbcType=VARCHAR},
      #{fileName,jdbcType=VARCHAR},
      #{fileType,jdbcType=VARCHAR},
      #{isDirectory,jdbcType=TINYINT},
      #{recordDate,jdbcType=TIMESTAMP},
      #{fileAbsolutePath,jdbcType=VARCHAR}
    )
  </insert>

  <insert id="batchInsert" parameterType="com.sun.xiaotian.diskmonitor.model.FileBaseInfo" useGeneratedKeys="true" keyProperty="fileBaseInfoId">
    insert into dm_file_base_info (file_path, file_name, file_type, is_directory, record_date, file_absolute_path)
    values
    <foreach collection="list" item="fileBaseInfo" index="index" separator=",">
      (
      #{fileBaseInfo.filePath,jdbcType=VARCHAR},
      #{fileBaseInfo.fileName,jdbcType=VARCHAR},
      #{fileBaseInfo.fileType,jdbcType=VARCHAR},
      #{fileBaseInfo.isDirectory,jdbcType=TINYINT},
      #{fileBaseInfo.recordDate,jdbcType=TIMESTAMP},
      #{fileBaseInfo.fileAbsolutePath,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="com.sun.xiaotian.diskmonitor.model.FileBaseInfo">
    insert into dm_file_base_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileBaseInfoId != null">
        file_base_info_id,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="fileType != null">
        file_type,
      </if>
      <if test="isDirectory != null">
        is_directory,
      </if>
      <if test="recordDate != null">
        record_date,
      </if>
      <if test="fileAbsolutePath != null">
        file_absolute_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileBaseInfoId != null">
        #{fileBaseInfoId,jdbcType=BIGINT},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="isDirectory != null">
        #{isDirectory,jdbcType=TINYINT},
      </if>
      <if test="recordDate != null">
        #{recordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="fileAbsolutePath != null">
        #{fileAbsolutePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.sun.xiaotian.diskmonitor.model.FileBaseInfo">
    update dm_file_base_info
    <set>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="isDirectory != null">
        is_directory = #{isDirectory,jdbcType=TINYINT},
      </if>
      <if test="recordDate != null">
        record_date = #{recordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="fileAbsolutePath != null">
        file_absolute_path = #{fileAbsolutePath,jdbcType=VARCHAR},
      </if>
    </set>
    where file_base_info_id = #{fileBaseInfoId,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.sun.xiaotian.diskmonitor.model.FileBaseInfo">
    update dm_file_base_info
    set file_path = #{filePath,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=VARCHAR},
      is_directory = #{isDirectory,jdbcType=TINYINT},
      record_date = #{recordDate,jdbcType=TIMESTAMP},
      file_absolute_path = #{fileAbsolutePath,jdbcType=VARCHAR}
    where file_base_info_id = #{fileBaseInfoId,jdbcType=BIGINT}
  </update>

</mapper>